html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    color: #0A2647;
    text-align: center;
    background-color: #DDFFBB;
    background-image: url("../IMG/logo_ZHR.png"), url("../IMG/wave.png"), url("../IMG/logo_HHK.png");
    background-size: auto, 100% 20%, auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: right top, bottom, left top;
    background-attachment: scroll, fixed, scroll;
}

/* MAIN HEADER */
#typewriter_header{
    width: 100%;
    margin-top: 1em;
}
#typewriter_header h1 span{
    font-size: 1.5em;
    color: #558a2c;
    position: relative;
}
#typewriter_header h2 span{
    color: #68b654;
}

/* Typewriting animations */
#typewriter_header h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.06em;
    animation: typing 4s steps(40, end);
}
@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}
@keyframes typing_rev{
    from {width: 100%;}
    to {width: 0%;}
}

/* h2 header animation */
@keyframes left-right{
    0% {margin-left: -300px;}
    50% {margin-left: 150px;}
    100% {margin-left: 0px;}
}
#header_h2_1{
    animation: left-right 2s;
    font-size: 160%;
}

/* nav */
nav{
    width: 100%;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;   
}
nav ul li{
    margin: 0 3% 0 0;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 120%;
    color: #0A2647;
    transition: 1s;
    border-bottom: 3px solid #DDFFBB;
    border-top: 3px solid #DDFFBB;
    padding: 20px 0;
    transition: 0.5s ease;
}
nav ul li a:hover{
    border-bottom: 3px solid #558a2c;
    border-top: 3px solid #558a2c;
    padding: 10px 0;
    color: #558a2c;
    font-weight: 600;
    font-size: 140%;
}

.active_link{
    color: #558a2c;
    font-weight: 600;
    font-size: 140%;
    padding: 10px 0;
    border-bottom: 3px solid #558a2c;
    border-top: 3px solid #558a2c;
}
  
/* main */
main{
    width: 60%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main div{
    display: none;
}
main div p{
    font-size: 107%;
}
main div h2{
    color: #6EB339;
    font-weight: 800;
    font-size: 170%;
}

.hr{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.hr hr{
    width: 40%;
    height: 2px;
    background-color: black;
}

.hr img{
    height: 60px;
}


/* footer */

footer{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    background-color: #68b65494;
    border-radius: 50%;
    transition: 0.5s;
    width: 80%;
    height: 80%;
    margin: 10%;
}
footer img:hover{
    padding: 10%;
    margin: 0%;
}
.slider{
    border-radius: 30px;
}

/* RWD */
@media only screen and (max-width: 800px){
    body{
        background-image: url('../IMG/wave.png');
        background-position: bottom;
        background-attachment: fixed;
    }
    main div h2{
        text-align: center;
    }
    main{
        width: 80%;
        text-align: justify;
    }
    .slider{
        width: 100%;
    }
}
@media only screen and (max-width: 450px){
    #typewriter_header h2{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        justify-content: center;
    }
    nav ul li a{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 5px;
    }
    main{
        width: 90%;
        text-align: justify;
    }
    main div h2{
        text-align: center;
    }
}